<%= content_for(:title,  '添加 | 放量市场') %>
<section class="content-header">
  <h1>
    放量市场
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="ion-flag"></i> 放量市场</a></li>
    <li class="active"><i class="ion-plus"></i> 添加</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">添加表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>
